<ion-content>
    <!--Background-->
  <div class="bg-login" *ngIf="login">
      <div class="overlay">  
        <!--Container-->
        <div>    
  
          <!--Logo-->
          <div class="center">
              <img src="/assets/imgs/logo.png" class="logo pd-top-20">
          </div>     
          <!--Textos--> 
          <div class="mg-top-40 ">
            <!--Titulo--> 
            <h5 class="snow center bold no-margin">Que bom te ver aqui!</h5>
            <!--SubTitulo--> 
            <p class="center snow ligth no-margin mg-top-5">Entre com sua conta para continuar</p>          
          </div>
          <!--forms--> 
          <div class="padding-40">
            <ion-item class="bg-tranparente">
              <ion-label stacked class="bold snow no-padding mg-top-40">Email</ion-label>
              <ion-input type="email" class="snow"></ion-input>
            </ion-item>
            
            <ion-item class="bg-tranparente">
              <ion-label stacked class="snow bold no-padding mg-top-10">Senha</ion-label>
              <ion-input type="password" class="snow"></ion-input>
            </ion-item>
            
            <div class="ctaLogin center bolde mg-top-30">
              Entrar
            </div>
  
            <div class="ctaRegistrar snow bold center mg-top-20">
              Quero criar uma nova conta!
            </div>
         </div>
  
        </div>
        <!--Fim do Container-->
      </div>
  </div>
  <!--Background-->  
  
  <!--Resgistro -->
  <!--Background-->
  <div class="bg-registro" *ngIf="registro">
      <div class="overlay">  
        <!--Container-->
        <div>    
  
          <!--Logo-->
          <div class="center">
              <img src="/assets/imgs/logo.png" class="logo pd-top-20">
          </div>     
          <!--Textos--> 
          <div class="mg-top-40 ">
            <!--Titulo--> 
            <h5 class="snow center bold no-margin">Que bom te ver aqui!</h5>
            <!--SubTitulo--> 
            <p class="center snow ligth no-margin mg-top-5">Entre com sua conta para continuar</p>          
          </div>
          <!--forms--> 
          <div class="padding-40">
            <ion-item class="bg-tranparente">
              <ion-label stacked class="bold snow no-padding mg-top-40">Email</ion-label>
              <ion-input type="email" class="snow"></ion-input>
            </ion-item>
            
            <ion-item class="bg-tranparente">
              <ion-label stacked class="snow bold no-padding mg-top-10">Senha</ion-label>
              <ion-input type="password" class="snow"></ion-input>
            </ion-item>
            
            <div class="ctaLogin center bolde mg-top-30">
              Entrar
            </div>
  
            <div class="ctaRegistrar snow bold center mg-top-20">
              Quero criar uma nova conta!
            </div>
         </div>
  
        </div>
        <!--Fim do Container-->
      </div>
  </div>
  <!--Background-->  
  </ion-content>
 